
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    padding: 12px;
    border-bottom: 1px solid #eee;
  }

  td:first-child {
    width: 120px;
    text-align: right;
    padding-right: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  textarea,
  select {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus,
  input[type="tel"]:focus,
  textarea:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 8px;
  }

  textarea {
    resize: vertical; /* Memungkinkan textarea diubah ukurannya secara vertikal */
}

  .button {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  td:nth-child(2) {
    width: 10px;
    text-align: center;
  }